<html lang="en">
  <head>
    {{>header_links}}
  </head>
  <body>
    {{>navbar}}

    <!-- main header  -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-0 col-12 mx-auto">
          <div class="row">
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_right">
              <div class="myimg">
                <img src="images/myabout.jpg" alt="kaif" class="img-fluid" title="kaifmanzar">
              </div>
            </div>
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>I Am A<span class="text-clr"> Mern Stack Developer</span> And A Freelancer</h1>
              <a href="https://www.linkedin.com/in/md-kaif-manzar-a86a9422a/" target="_blank"><button>About Me</button></a>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>

    <!-- footer code   -->
    {{>footer}}
  </body>
</html>
